@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@theme {
  --color-primary: #22c55e;

  --color-background-light: #f0fdf4;
  --color-background-dark: #051207;
  --color-surface-dark: #0a1f0d;

  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;

  --radius: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;

  --background-image-glow: radial-gradient(circle at center, rgba(34, 197, 94, 0.15) 0%, rgba(5, 18, 7, 0) 70%);
}
